

.ticker-container {
	height: 60px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden; 
	background-color: #dfdfdf;
	color: white;
	/*background-color: white;
	color: black;*/
	font-size: 1.1em;
	margin-bottom: 15px;
}
.ticker-container .ticker-caption {
	height: 50%;
	width: 100%;
	background-color: #0267b9;
	display: table;
	position: absolute;
	color: white;
	font-size: 0.8em;
	z-index: 1;
}

.ticker-container .ticker-caption span{
	border-color: transparent transparent transparent #0267b9;
}

.ticker-container .ticker-caption span{
	width: 0;
	position: absolute;
	right: -10px;
	top: 10px;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 10px;
}

.ticker-container .ticker-caption p {
	width: inherit;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	margin: 0;
	padding: 0 20px;
	line-height: 39px;
	font-size: 20px;
	color: #fff;
	height: 40px;
	box-sizing: border-box;
}
.ticker-container ul {
	list-style: none;
	padding: 0;
	height: auto;
}
.ticker-container ul div {
	overflow: hidden;
	position: absolute;
	z-index: 0;
	display: inline;
	min-width: 100%;
	left: 0;
	height: 50%;
	transition: 0.25s ease-in-out;
}
.ticker-container ul div.ticker-active {
	top: 30px;
}
.ticker-container ul div.not-active {
	top: 60px;
}
.ticker-container ul div.remove {
	top: 0;
}
.ticker-container ul div li {
	padding: 10px 0;
}
.ticker-container ul div li a {
	color: #000000;
}

@media (min-width: 500px) {
	.ticker-container {
		height: 40px;
		text-align: left;
	}
	.ticker-container .ticker-caption {
		height: 100%;
		width: 150px;

	}
	.ticker-container .ticker-caption p {
		text-align: left;
		padding-left: 18px;
	}
	.ticker-container ul {
		margin-left: 170px;
		height: 100%;
	}
	.ticker-container ul div {
		height: 100%;
		left: 170px;
	}
	.ticker-container ul div.ticker-active {
		top: 0;
	}
	.ticker-container ul div.not-active {
		top: 30px;
	}
	.ticker-container ul div.remove {
		top: -30px;
	}
}

@media (min-width: 768px) {
  .ticker-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .ticker-container {
    margin-bottom: 20px;
  }
}