.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-upload {
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #004d95;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  } 